* { box-sizing: border-box;}

header { background-color: #565656;
		 color: #FFFFFF;
		 text-align: center;
		 line-height: 800%;
		 background-image: url(header2.jpg);
		 background-size: 100% 100%;}
		 
h1 { font-family: Arial, Verdana;
	 font-size: 300%;}
h2 { text-align: center;}

body { background-color: #D7CEC7;
	   color: #F2EEE2;
	   font-family: Helvetica, sans-serif;
	   margin-top: 0;}
	   
nav { padding: 0;
	  padding-bottom: 15px;
	  text-align: center;
	  font-weight: bold;
	  font-size: 125%;}

nav ul { list-style-type: none;
		 padding-left: 0;
		 margin: 0;
		 margin-bottom: 0;}

nav li { border-bottom: 1px solid #C0B3A0;}
		 
nav a { text-decoration: none;
	    transition: color 3s ease-out;}

nav a:link { color: #F2EEE2;}
nav a:visited { color: #E98074;}
nav a:hover { color: #22252C;}

header a { text-decoration: none;
		   transition: color 5s ease-in;}
		   
header a:link { color: #F2EEE2;}
header a:visited { color: #F2EEE2;}
header a:hover { color: #C06014;}

main a:link { color: #F2EEE2;}
main a:visited { color: #F2EEE2;}
main a:hover { color: #D8C3A5;}

footer a:link { color: #F2EEE2;}
footer a:visited { color: #F2EEE2;}
footer a:hover { color: #D8C3A5;}

main { margin-top: 0;
	   padding-top: 0;
	   padding-bottom: 30px;
	   padding-left: 10px;
	   padding-right: 10px;}
		   
#content { background-image: linear-gradient(to bottom, #747474, #272727);
		   background-repeat: no-repeat;}

#gym { background-image: url(gym2.jpg);
	   height: 390px;
	   background-size: 100% 100%;
	   background-repeat: no-repeat;}
	   
#gymc { background-image: url(gym.jpg);
	   height: 390px;
	   background-size: 100% 100%;
	   background-repeat: no-repeat;}
	   
table { border: 3px solid #C2CAD0;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;}

td, th { padding: .5em;
		 border: 3px solid #C2CAD0;}

td { text-align: center;}
		 
tr:nth-of-type(odd) { background-color: #1F2833;}
		 
table caption { margin: 1em;
				font-weight: bold;
				font-size: 120%;}
				
fieldset { border: 2px ridge #C2CAD0;
           font-family: Arial, sans-serif; 
		   padding: 10px;}

legend { font-family: Georgia, "Times New Roman", serif;
         font-weight: bold; }
		
.send { padding: 10px;}		
		
label { padding-left: 10px; }

.left { text-align: right;
		padding-right: 3em;}

iframe { display: flex;}

footer { text-align: center;
		 font-size: small;
		 font-style: italic;
		 padding-bottom: 1em;
		 padding-top: 1em;}
		 
@media(min-width:600px){
	nav ul { display: flex;
			 flex-direction: row;
			 flex-wrap: nowrap;
			 justify-content: space-around;}
			 		
	#flow { display: flex;
			flex-direction: row;}
					
	fieldset { width: 600px;}
	
	nav li { border-bottom: none;}
	
	iframe { margin-left: auto;
			 margin-right: auto;}
			 
	.sec { padding-left: 2em;
		   padding-right: 2em;}
}
	
	
@media(min-width:1024px){
	nav ul { display: flex;
			 flex-direction: row;
			 flex-wrap: nowrap;
			 justify-content: space-evenly;}
	
	#content { margin: auto;
			   max-width: 80%;
			   border: 1px solid #00008B;
			   box-shadow: 4px 4px 4px #565656;
			   border-top: none;
			   margin-top: 0.1em;}
			   
	section { padding-left: 20px;}
			   
	.configure { display: grid;
				 grid-template-columns: auto;
		   	     grid-template-rows: auto auto auto;}
					  
	h2 { grid-row: 1/2; grid-column: 1/3;}
	p { grid-row: 2/3; grid-column: 1/3;}
	section { grid-row: 3/4; grid-column: auto;}
}